<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
 <h4 lt="reg">Regisztrálás</h4>
<div lt-inner = "view1inner"  >   
</div>
<div lt="alert" ></div>
<div lt="info" ></div>   
    <form    method="post" action="#" >
 
       <div class="form-group" lt-class= "view1class" >     
       <input type="text" class="form-control" required="required" placeholder="Felhasználónév" name="username" lt="username" >
   	 </div>
<h4 lt-inner="reg">Regisztrálás</h4>
</body>
</html>
