<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div lt="hhjh">ghsghfhfg</div>
	<form id="form-1">
<label for="input-1" dat="label"lt = "label" class="" >label ujvalue</label>	
<label for="input-1" dat="label" lt="label" class="" >label ujvalue</label>
<label for="input-2" dat="label" lt="label" class="" >label ujvalue</label>
<label for="input-2" dat="label"ghjlt="label" class="" >label ujvalue</label>
<label for="input-2" dat="label" ltnmhj="label" class="" >label ujvalue</label>
<input id="input1" lt="input1" placeholder="input1"dat="input1"  type="text" value="input1 ujvalue" />
<textarea name="comment" ltdat="text1" placeholder="text1 placeholder" >text1 ujvalue</textarea>
<textarea name="comment" lt="text2"dat="text2">alapszöveg</textarea>
<input type="checkbox" id="cbox1" name="cbox" value="checkbox1"dat="cbox" checked="checked" >

<input type="radio" name="age" id="age" value="radio1" dat="age" checked="checked" >
<input type="radio" name="age" id="age" value="radio1" dat="age" checked="checked" >

<input type="submit" value="Submit" name="button-1" lt="submit" id="button-1"/>
<input type="hidden" value="sss" dat="hiden-1"id="hiden-1"/>	
	</form>

</body>
</html>