

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<!-- dat="notedat" -->
<!-- lt="ltdat" -->ltdat alap<!---->

<div lt="hhjh">ghsghfhfg</div>
	<form id="form-1">
<label for="input-1" dat="label"lt = "label" class="" >Input:</label>	
<label for="input-1" dat="label" lt="label" class="" >Input:</label>
<label for="input-2" dat="label" lt="label" class="" >Input:</label>
<label for="input-2" dat="label"ghjlt="label" class="" >Input:</label>
<label for="input-2" dat="label" ltnmhj="label" class="" >Input:</label>
<input id="input1" lt="input1" placeholder="input1"dat="input1"  type="text"/>
<textarea name="comment" ltdat="text1" placeholder="text1 placeholder" ></textarea>
<textarea name="comment" lt="text2"dat="text2">alapszöveg</textarea>
<input type="checkbox" id="cbox1" name="cbox" value="checkbox1"dat="cbox">

<input type="radio" name="age" id="age" value="radio1" dat="age">
<input type="radio" name="age" id="age" value="radio2" dat="age">

<input type="submit" value="Submit" name="button-1" lt="submit" id="button-1"/>
<input type="hidden" value="sss" dat="hiden-1"id="hiden-1"/>	
	</form>
<a href="" ltdat="link" >gcfjhfg</a>
</body>
</html>